header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  padding-top: 120px;
  background-image: url("../images/black-twill.png");
}

h2 {
  font-family: "Source Sans Pro";
}

span.name {
  font-weight: lighter;
  margin: 0em;
}

