nav {
  height: 120px;
  width: 100%;
  background-color: #36311F;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

span {
  margin: 1.5em;
}

.altFont {
  font-family: "Source Sans Pro";
  margin-left: 0em;
  margin-bottom: 0em;
  margin-top: 0em;
}

.bold {
  margin-right: .3em;
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

.animation {
  color: red;
}