form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  background-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #36311F;
  font-family: "Source Sans Pro";
  margin-bottom: 1em;
}

label {
  font-family: "Source Sans Pro";
  font-weight: bolder;
}

.new-tweet {
  width: 100%;
}

button {
  background-color: #36311F;
  color: white;
}

.negative {
  color: red;
}

button:hover {
  background-color: goldenrod;
}

button:active {
  background-color: #79A9D1;
}