.previousTweets{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5em;
}

article {
  display: flex;
  flex-direction: column;
  border: 4px solid #545149;
  margin-bottom: 2em;
}

article header {
  background-image: none;
  background-color: transparent;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 1em;
  font-family: "San Source Pro";
}
article footer {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em;
  font-family: "San Source Pro";
  margin-bottom: .5em;
}

img {
  margin-right: .3em;
}

.userTweet {
 width: 96%; 
 padding: 1em;
 font-family: "San Source Pro";
 border-bottom: 4px solid #545149;
 margin-left: 1em;
}

article span {
  margin: 0px;
}

.userHandle{
  color: #c6ccda;
}

article:hover {
  box-shadow: 10px 5px 5px #c6ccda;
}


.articleIcons {
  color: #4056A1;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.articleIcons i:hover {
  color: goldenrod;
}

div.headerLeft{
  display: flex;
  align-items: center;
}
